/*
#-stanford-r25-reservation {width: 100%; display: inline-block; padding: 0; margin: 0;}
#-stanford-r25-reservation .form-item{float: left; padding-right: 15px;}
#-stanford-r25-reservation #edit-submit { position: relative; top: 37px;}
*/
#-stanford-r25-reservation {
    margin-bottom: 0;
}

#-stanford-r25-reservation .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

#-stanford-r25-reservation .form-submit {
    margin-top: 10px;
}

#edit-stanford-r25-booking-date {
    padding: 0;
}

#calendar thead, #calendar thead th {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #333;
}

#stanford-r25-room-info {
    display: block;
}

#stanford-r25-room-photo {
    float: left;
    width: 150px;
    padding-right: 15px;
}

#stanford-r25-room-detail {
}